.header {
    text-align: center;
    margin-top: 120px;
    color: #fff;
    margin-bottom: 20px;
}

.container {
    width: 93%;
    padding-right: (1.5rem, 0.75rem);
    padding-left: (1.5rem, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.formUser {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 30px 36px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
}
form label {
    color: #fff;
}